<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Team Members</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center">Team Members</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"><div class="card col-3 float-left">
  <div class="card">
    <h2 class="card-title">asdf</h2>
    <h3 class="card-title">Manager</h3>
  </div>
  <div class="card-text">adsf</div>
  <div class="card-text">asdf</div>
  <div class="card-text">adsf</div>
</div>
<div class="card col-3 float-left">
  <div class="card">
    <h2 class="card-title">adsf</h2>
    <h3 class="card-title">Engineer</h3>
  </div>
  <div class="card-text">sadf</div>
  <div class="card-text">adsf</div>
  <div class="card-text">adsf</div>
</div>
,<div class="card col-3 float-left">
  <div class="card">
    <h2 class="card-title">adsf</h2>
    <h3 class="card-title">Engineer</h3>
  </div>
  <div class="card-text">asd</div>
  <div class="card-text">asdf</div>
  <div class="card-text">fadf</div>
</div>
,<div class="card col-3 float-left">
  <div class="card">
    <h2 class="card-title">asd</h2>
    <h3 class="card-title">Engineer</h3>
  </div>
  <div class="card-text">fasdf</div>
  <div class="card-text">fasd</div>
  <div class="card-text">adsf</div>
</div>
</div>
        </div>
    </div>
    
</body>
</html>